/* Wrap Styles */

.wrap h1 {
	font-size: 26px;
	font-weight: 700;
}

.coding-bunny-flex-container {
        display: flex; /* Enable flexbox layout */
        align-items: center; /* Align items vertically in the center */
        margin-bottom: 20px; /* Space below the flex container */
    }

    .coding-bunny-flex-item {
        margin-right: 15px; /* Space between flex items */
    }

    .coding-bunny-flex-item:last-child {
        margin-right: 0; /* Remove margin from the last item */
    }

    input[type="email"], 
    input[type="text"] {
        width: 200px; /* Set a fixed width for input fields */
    }

    label {
        margin-right: 5px; /* Space between the label and the input field */
    }

/* Table Styles */

.form-table label {
    margin-right: 20px;
}

.form-table input[type="number"] {
    width: 80px;
}

.form-table th {
    vertical-align: middle;
}

.form-table td {
    vertical-align: middle;
}

/* Toggle Switch Styles */

.toggle {
    display: none !important;
}

.toggle-label {
    position: relative;
    display: flex; /* Use flexbox to align the toggle and the text */
    align-items: center; /* Align vertically to the center */
    cursor: pointer; /* Change the cursor when hovering over the toggle */
}

.toggle-label .slider {
    position: relative;
    width: 40px; /* Width of the toggle */
    height: 24px; /* Height of the toggle */
    background-color: #ccc; /* Light gray for the off state */
    border-radius: 34px; /* Rounded corners */
    transition: background-color 0.4s; /* Transition for background color */
    margin-right: 10px; /* Space between the toggle and the text */
}

.toggle-label .slider:before {
    position: absolute;
    content: "";
    height: 16px; /* Height of the toggle ball */
    width: 16px; /* Width of the toggle ball */
    left: 4px; /* Left position */
    bottom: 4px; /* Bottom position */
    background-color: white; /* Color of the toggle ball */
    border-radius: 50%; /* Circular shape */
    transition: transform 0.4s; /* Transition for ball movement */
}

.toggle:checked + .slider {
    background-color: #00A32A; /* On state */
}

.toggle:checked + .slider:before {
    transform: translateX(16px); /* Move the ball to the right */
}

.disabled-label {
    opacity: 0.5; /* Make the text semi-transparent */
    pointer-events: none; /* Prevent clicking on the label */
}

.disabled-label .toggle-text {
    cursor: not-allowed; /* Change the cursor to indicate non-interactivity */
}